{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <div class="container my-5 accueil-bienvenue">
        <div class="row mb-5 g-3 accueil-infos-img">
            <div class="col-sm-6">
                <h1 class="h1 mb-4">Faire son budget n'a jamais été aussi <span>facile</span> !</h1>

                <h2 class="h3">Ne vous demandez plus où part votre argent ! Avec votre application de budget, prenez le contrôle de vos finances en quelques clics !</h2>

                <a class="btn btn-primary mt-4 mb-5" href="#" role="button">Je commence à gérer mon budget</a>
            </div>

            <div class="col-sm">
                <img src="{{ asset('images/faire-son-budget.jpg') }}" alt="Images de personnes souriantes"/>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h2 class="h3 text-center">Nos conseils pour gérer votre budget</h2>
        <p class="mt-2 mb-2 text-center">
            Avec nos conseils et astuces, apprenez à établir un budget, suivre vos dépenses et épargner pour atteindre vos objectifs financiers.
        </p>

        <div class="row mt-4 mb-5 g-3">
            <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Les 5 étapes de la gestion de budget</h5>
                    <p class="card-text">Nous allons vous présenter comment gérer votre budget en 5 étapes. Une méthode, des outils et un peu de persévéra...</p>
                    <a href="#" class="btn btn-primary mt-3">Lire l'article</a>
                </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pourquoi choisir une application pour gérer son budget</h5>
                    <p class="card-text">Avec l’arrivée des nouvelles technologies nous avons eu à changer nos habitudes quotidiennes. C’est notamment le...</p>
                    <a href="#" class="btn btn-primary mt-3">Lire l'article</a>
                </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5 conseils pour bien gérer son budget</h5>
                    <p class="card-text">On est nombreux à regarder son solde bancaire en se demandant où est passé son argent, à finir ses fins de mois par...</p>
                    <a href="#" class="btn btn-primary mt-3">Lire l'article</a>
                </div>
                </div>
            </div>
        </div>
        
        <div class="row my-5 g-3 accueil-infos-img">
            <div class="col-sm-6">
                <h2 class="h3">Faites vos comptes</h2>
                <p class="mt-4 mb-3">
                    Suivez efficacement votre budget en analysant précisément chaque mois, vos revenus et vos dépenses.
                </p>
                <p class="mt-2 mb-3">
                    En quelques minutes par jour, vous avez la satisfaction de maitriser votre situation financière.
                </p>
                <p class="mt-2 mb-4">
                    N’attendez plus mettez en place votre rituel “budget”.
                </p>
                <a href="#" class="cta-lien">Gérer mon budget</a>
            </div>

            <div class="col-sm">
                <img src="{{ asset('images/suivre-ses-comptes.png') }}" alt="Images de personnes souriantes"/>
            </div>
        </div>

    </div>


{% endblock %}
