:root {
    --main-color: #65bbb0;
    --main-color-hover: #50948be2;
    --text-color: #212529bf;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.btn-primary {
    background-color: var(--main-color);
    border: none;

    &:hover {
        background-color: var(--main-color-hover);
    }
}

.cta-lien {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 700;
}

.logo {
    max-width: 70px;
    height: auto;
}

/* Formulaires */
form {
    label {
        margin-bottom: 0.5rem;
    }
    
    input, select {
        margin-bottom: 1.5rem;
    }

    input[type= "checkbox"] {
        margin-right: 0.5rem;
    }
}