{# Pas de block car ce template est inclut dans un autre #}

<h2 class="border-bottom pb-3 mb-4 fs-3 text">Ajouter une nouvelle transaction</h2>

<div class="container">
     {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        
    {% else %}
        <div class="alert alert-danger">Formulaire introuvable.</div>
    {% endif %}
</div>