{% block body %}

    <h2 class="border-bottom pb-3 mb-4 fs-3 text">Bienvenue sur votre dashboard !</h2>

    <div class="container">
        <div class="row mb-4">
            <div class="col border p-3 shadow-sm bg-light me-3">
                <h3 class="mb-3 fw-bold">Mes revenus</h3>

                <p>chart à mettre</p>
            </div>

            <div class="col border p-3 shadow-sm bg-light">
                <h3 class="mb-3 fw-bold">Mes dépenses</h3>

                <p>chart à mettre</p>
            </div>
        </div>

        <div class="row">
            <div class="col border p-3 shadow-sm bg-light me-3">
                <h3 class="mb-3 fw-bold">Dernières opérations</h3>

                <p>petite liste des 5 dernières transactions à mettre (date, montant, type de transaction)</p>
            </div>

            <div class="col border p-3 shadow-sm bg-light me-3">
                <h3 class="mb-3 fw-bold">Mes dépenses par catégorie</h3>

                <p>chart à mettre</p>
            </div>

            <div class="col border p-3 shadow-sm bg-light">
                <h3 class="mb-3 fw-bold">Mes revenus par catégorie</h3>

                <p>chart à mettre</p>
            </div>
        </div>
    </div>

{% endblock %}
